.room_info_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 5px;
}

@media (min-width: 600px) {
	.room_info_container {
		flex-direction: row;
		gap: 0;
	}
}

.room_info_id_container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	background: rgba(0, 0, 0, 0.35);
	padding: 5px 10px;
	border-radius: 9px;
}

.room_info_id_container > p {
	font-weight: 600;
	color: var(--silver-sand);
}

.room_info_id {
	position: relative;
	cursor: pointer;
	color: var(--silver-sand);
	background-color: var(--cod-gray);
	padding: 2px 10px;
	margin-left: 5px;
	border-radius: 9px;
	transition: background-color 0.1s;
	text-align: center;
	display: inline-block;
	min-width: 200px;
	max-width: 400px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.room_info_id > p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.room_info_id:hover {
	background-color: var(--mine-shaft);
}

.copy_id_animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow: hidden;
	border-radius: 9px;
}

.copy_id_animation::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--blue-600);
	border-radius: 9px;
	opacity: 0.5;
	animation: copied 0.4s;
}

@keyframes copied {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

.room_info_id:hover > .clipboard-icon {
	display: block;
}

.clipboard-icon {
	position: absolute;
	font-size: 1.1rem;
	right: -5px;
	bottom: -5px;
	color: var(--blue-600);
	display: none;
}
