.connected_clients_container {
	align-self: center;
	padding-left: 30px;
	margin: auto;
}

.client {
	position: relative;
	display: inline-grid;
	place-items: center;
	background-color: var(--woodsmoke);
	box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 1);
	color: var(--blue-600);
	font-size: 1rem;
	font-weight: 600;
	width: 40px;
	height: 40px;
	border: 2px solid var(--blue-800);
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	transition: 0.5s all;
}
.client:hover {
	width: 100px;
	border-radius: 16px;
	margin-right: 8px;
	background-color: var(--cod-gray);
	box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 1);
}
